$green = #02a774
/*混合*/
@media only screen and (-webkit-device-pixel-ratio:2)
  .border_px
    &::before
      transform scaleY(.5)
@media only screen and (-webkit-device-pixel-ratio:3)
  .border_px
    &::before
      transform scaleY(.3333)
top_border_px($color)
  position relative
  &::before
    content ''
    position absolute
    top 0
    left 0
    display block
    width 100%
    height 1px
    background-color $color
bottom_border_1px($color)
  position relative
  border none
  &:after
    content ''
    position absolute
    left 0
    bottom 0
    width 100%
    height 1px
    background-color $color
    transform scaleY(0.5)
clearFix()
  content ''
  display block
  clear both
bg_image($star)
  background-image: url( $star +'@2x.png')
  @media only screen and (-webkit-device-pixel-ratio:3)
    background-image: url($star + '@3x.png')
